.login-container {
    display: flex;
    background-color: #3f51b5;
    justify-content: center;
    height: 100%;
    position: relative;
}

mat-card {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}